:root {
    --background-color: #5a67d8;
    --text-color: #fff;
}

.btn {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.is-loading {
    position: relative;
    top: -2px;
    left: -3px;
}

.btn-content {
    margin: 0;
    color: var(--text-color);
}

.btn-hover:hover {
    opacity: 0.8;
}

.btn-active:active {
    transform: scale(0.95);
}

.btn-disabled {
    opacity: 0.6;
}

.btn-size-large {
    padding: 12px 24px;
}

.btn-size-large > .btn-content {
    font-size: 24px;
}

.btn-size-medium {
    padding: 8px 20px;
}

.btn-size-medium > .btn-content {
    font-size: 18px;
}

.btn-size-small {
    padding: 4px 16px;
}

.btn-size-small > .btn-content {
    font-size: 12px;
}